

.fbutton{
    background-color: rgb(231, 30, 30);
    color:white;
    margin-top: 40px;
    margin-bottom:40px;
    margin-left: 8px;
    margin-right: 8px;
    border:none;
    font-size:14px;
    padding-top:11px;
    padding-bottom:11px;
    padding-left:11px;
    padding-right:11px; 
       
}

.sbutton{
    background-color: rgb(231, 30, 30);
    color:white;
    margin-top: 30px;
    margin-bottom:30px;
    margin-left: 8px;
    margin-right: 8px;
}
.tbutton{
    background-color: rgb(231, 30, 30);
    color:white;
    margin-top: 30px;
    margin-bottom:30px;
    margin-left: 8px;
    margin-right: 8px;
}
