p{
    font-family: Montserrat;
}
.heading{
    color: black;
    font-size: 55px; 
    text-align: center; 
    margin-bottom: 12px;
    font-weight: bold;
    

}
.content{
    text-align: center;
    font-size: 22px;
    margin-top: 0px;
 
    

}
.touchless{
    text-decoration: underline;
    cursor: pointer;

}


