body{
    font-family: roboto, arial;
}
.header{
     height:29px;
    border-width:0.56px; 
    border-color: rgb(194, 192, 192); 
    background-color:white;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
   position:fixed;
   top:0px;
   left:0px;
   right:0px;
   padding-top:8px;
   margin-bottom:20px; 
   z-index:170; 
}

.middle-header{


display:flex;
justify-content:space-between;

align-items:center;
flex-direction:row;
margin-top:55px;
height:100px;

}
.profile-pic{
   display:flex;
    justify-content: space-between;

   width:200px;
   padding-right:90px;
   padding-left:40px;
   direction:ltr;
   
   
}
.profile{
    height:102px;
    width:101px;
    border-radius:50%;
    border-color:rgb(180, 176, 176);
    border-width:1.3px;
    border-style:solid;  
    outline: 2px solid rgb(180, 176, 176);
  outline-offset: 4px;
}

.All-about-following-info{
    display:flex;
    width:270px;
   padding-right:600px;
   margin-right:15px;
    flex-direction:row;
  justify-content:space-between;
   
  
}

.All-about-following-info .post-description,.All-about-following-info .followers, .All-about-following-info .following{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-weight:700;
    font-size:21px;
    padding:10px;
}
.post-description .posts-font-size,.followers .followers-font-size, .following .following-font-size{
    font-size:15px;
    font-weight:normal;
}
.left-section{
    
    display:flex;
    flex-direction:flex;
    height:26px;
    width:106px;
    justify-content:space-between;
    padding-right:15px;
}

.threads{
    width:20px;
    height:20px;
}
.create{
    width:20px;
    height:20px;
}
.threelines{
    width:20px;
    height:20px;
    padding-right:15px;
}

.lock{
    height:20px; 
    width:20px;
    margin-right:2px;
    padding-left:15px;
}

.right-section{
    
    display:flex;
    flex-direction:flex;
    height:26px;
    width:130px;
    justify-content:space-between;
  
}
.arrow{
    height:20px;
    width:20px;
}
.name{
    margin-right:2px;
    font-family:roboto,arial;
    font-size:21px;
    font-weight:700;
    align-items:center;
}

.about{
  
    display:flex;
    flex:1;
    flex-direction:column;
    height:21px;
    padding-bottom:5px;
    font-size:15px;
    font-weight:700;
    padding-left:15px;
    padding-top:12px;
}

.about-person{
    font-size:13px;
    font-weight:500;
    text-align:left;
    font-family:roboto, arial;
}
.all-buttons{
      display:flex;
    justify-content:center;
    padding:12px;
    margin-top:21px;
}
.edit-profile-buttom{
    font-size:15px;
    font-weight:700;
    font-family:roboto, arial;
    width:190px;
    height:34px;
    border-radius:8px;
    border:none;
    background-color:rgb(156, 155, 155);
    margin-right:5px;
}
.share-profile-buttom{
    font-size:15px;
    font-weight:700;
    font-family:roboto, arial;
    width:190px;
    height:34px;
    border-radius:8px;
    border:none;
    background-color:rgb(156, 155, 155);
    margin-right:5px;
}
.follow-button{
    height:15px;
    width:15px;
}
    .follow-profile-button{
     padding:3px;
   width:30px;
    border-radius:8px;
    border:none;
    background-color:rgb(156, 155, 155);
}
.highlights{
    display:flex;
    flex-direction:row;
    flex:1;
    justify-content:center;
  
   
}
.highlights .highlight-1, .highlights .highlight-2, .highlights .highlight-3, .highlights .highlight-4, .highlights .highlight-5,.highlights .highlight-6,.highlights .highlight-7,.highlights .highlight-8{
    width:76px;
    height:76px;
    border-radius:50%;
    margin:13px;
    border-radius:50%;
    border-color:rgb(180, 176, 176);
    border-width:0.1px;
    border-style:solid;  
    outline: 1.6px solid rgb(180, 176, 176);
    outline-offset: 2.4px;
    display:flex;
    flex-direction:column;

}

.highlights .highlight-1-about,.highlights .highlight-2-about, .highlights .highlight-3-about, .highlights .highlight-4-about, .highlights .highlight-5-about, .highlights .highlight-6-about, .highlights .highlight-7-about, .highlights .highlight-8-about{
    display:flex;
    justify-content:center;
    font-size:12px;
    font-family:roboto, arial;

}
.pics-and-saved{
    display:flex;
    justify-content: center;
    margin-top:120px;
    padding-bottom:7px;
    background-color:white;
    height:70px;
     border-bottom-color:rgb(98, 97, 97);
    border-bottom-width:0.35px;
     border-bottom-style:solid;
      position:absolute;
    top:300px;
     left:175px;
     right:175px;
  

}
  
   
.midpart{
  
    top:32px;
    left:0px;
    right:0px;
  
    background-color:white;

    
}

.pics-and-saved .saved-items,.pics-and-saved .grid{
      height:30px; 
    width:30px;
    margin-right:2px;
    padding-top:25px;
    
   
}
.pics-and-saved .pics{
    display:flex;
    justify-content: center;
    flex:1;
      padding-left:60px;
    padding-left:340px;
    margin-right:20px;
    z-index: 170;
   

}
.posted-pics{
    position:relative;
    display:flex;
    flex-direction:row;
    flex:1;
}
.pics-and-saved .saved{
       display:flex;
    justify-content: center;
    flex:1;
    padding-left:60px;
    padding-right:340px;
    margin-left:20px;
  

}
.posted-pics{
    display:flex;
    flex-direction:column;
    margin-top:110px;
    
}
.posted-pics .row-1, .posted-pics .row-2, .posted-pics .row-3, .posted-pics .row-4, .posted-pics .row-5{
    display:flex;
    flex-direction:row;
    flex:1;
    justify-content: center;
    
  
}
.row-1 .post-1, .row-1 .post-2, .row-1 .post-3, .row-2 .post-4, .row-2 .post-5, .row-2 .post-6, 
.row-3 .post-7,.row-3 .post-8,.row-3 .post-9, .row-4 .post-10,.row-4 .post-11,.row-4 .post-12,.row-5 .post-13, .row-5 .post-14,
.row-5 .post-15{
    width:380px;
    height:380px;
    padding:1px;
}   