.side-bar{
   position:fixed;
  top:68px;
   bottom:0;
   left:0; 
   background-color:white;
   width:74px;
   justify-content:space-between;
   align-items:center;
   z-index:150;

}
.side-bar-link{
      height:76px;
      align-items: center;
      justify-content:center;
       display:flex;
       flex-direction: column;
}
.side-bar-link:hover{
      background-color:rgb(228, 228, 228);
      cursor:pointer;
}
.side-bar-link img{
            height:24px;
}
.side-bar-link div{
      font-family:roboto,arial;
      font-size:10px;

}

