.search{
          
          display:flex;
          align-items:center;
          justify-content:center;
            height:36px;
            flex:1;
            width:0;
            font-size:15px;
            text-align: left;
          
            padding-left:9px;
            border-width:1px;
            border-style:solid;
            border-color:rgb(201, 197, 197);
            border-radius:2px;
            box-shadow:inset 1px 2px 3px rgba(0, 0, 0, 0.05);
          }
        
        
          .search-icon{
            width:66px;
            height:39px;
            align-items:center;
            display:flex;
            border-style:solid;
            border-width:1px;
              border-color:rgb(201, 197, 197);;
            background-color:rgba(240, 238, 238, 0.832);
            margin-left:-1px;
            margin-right:10px;
            justify-content:center;
           
          }

          .search-icon .text-icon, .voice-searching .text-icon, .upload-icon-name .text-icon, .YouTubeApps .text-icon, .notification-updates .text-icon {
            position: absolute;
            bottom:-33px;
             background-color:rgb(105, 105, 105);
            font-size:12px;
            font-family:roboto,arial;
            padding:7px;
            border-radius:1px;
            color:white;
            font-weight:solid;
            opacity:0;
             transition: opacity 0.15s;
             pointer-events:none;
             white-space: nowrap;
          }
          .search-icon:hover .text-icon, .voice-searching:hover .text-icon, .upload-icon-name:hover .text-icon,.YouTubeApps:hover .text-icon, .notification-updates:hover .text-icon{
           opacity:1;        
          }
          .search-icon, .voice-searching, .upload-icon-name,.notification-updates,.YouTubeApps{
            position:relative; 
          }
.upload-icon-name,.notification-updates,.YouTubeApps, .picofmychannel{
  justify-content: space-between;
}
.upload-icon-name{
  margin-left:40px;
}     
.search-icon-size{
            height:26px;
            width:24px;
            margin-top:4px;
            
          }
          .voice-searching{
             width:38px;
            height:38px;
            display:flex;
            border:none;
          justify-content:center;
            border-radius:20px;
            background-color:rgba(246, 246, 246, 0.832);
            padding: 2px 4px 2px 4px;
            margin-right:29px;
          }
      .voice-search{
        height:24px;
        margin-top:4px;
        display:flex;
        align-items:center;
         border-radius:20px;
         border:none;
         
          }
          .channel-icon{
             width:32px;
            height:32px;
            display:flex;
            border:none;
          }
      
        .picofmychannel:hover{
        
          cursor:pointer;
        }
      


          
          .header{
            height:60px;
            display:flex;
            flex-direction: row;
            background-color:white;
            justify-content:center;
           justify-content:space-between;
            position:fixed;
            top:0;
           margin-right:11px;
            border-bottom-width: 1px;
            border-bottom-style:solid;
            border-bottom-color:rgb(218, 211, 211);
            right:0;
            left:0;
            z-index:100;


          }
          .left-section{
      
            
            display:flex;
           
            align-items: center;
          }
          .hamburger-icon{
           margin-left:24px;
           margin-right:20px;
            height:23px;
           
           
            display:flex;
            align-items:center;
          }
          .youtube-logo{
            height:26px;
            width:90px;
            align-items: center;
            margin:10px;
         
            
          }
          .right-section{
           width:220px;
           margin-right:11px;
            display:flex;
            align-items:center;
            justify-content: space-between;
         

           
          }
          
          .upload-icon{
             width:26px;
            height:24px;
            
         
          
            
          }
          .notifications-icon{
             width:26px;
            height:24px;
        
          }
          .notification-updates{
            position:relative;
          }
          .notifications-count{
            position:absolute;
            top:-2px;
            right:-5px;
            background-color:rgb(219, 40, 40);
            font-size:11px;
            padding-left:6px;
            padding-right:6px;
            padding-top:2px;
            padding-bottom:2px;
            border-radius:16px;
            font-family: roboto,arial;
            color:white;
          }
          .apps-icon{
             width:26px;
            height:24px;
           
          }
          .middle-section{
    
       display:flex;
       align-items:center;
       flex:1;  
       margin-left:70px;
       margin-right:36px;
       max-width:470px;
          }