
.thumbnail{
            width: 100%; 
          }
          
          .heading{
            font-size: 16px;
            text-align:left;
           display:flex;
            font-weight: 500;
            margin-top:3px;
            margin-bottom:9px;
            line-height:20px;
          }
          .channelname{
            color: rgb(96, 96, 96);
           font-weight:solid;
            font-size: 12px;
            margin-top: 4px;
            margin-bottom:4px;   
          }
          .views{
            color: rgb(96, 96, 96);
           font-weight:solid;
            font-size: 11px;
            margin-top:4px;
      
          }
          .profile-pic{
            border-radius:40px;
            width:35px;
            margin-top:10px;   
          }
.channell{
  display:inline-block;
  width:50px;
  vertical-align:top;

}
.video-infogrid{
display:grid;
grid-template-columns:50px 1fr;
}
.video-info{
  display:inline-block;
  width:200px;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap:20px;
  row-gap:35px;
}
@media (max-width:750px) {
.video-grid{
    grid-template-columns:1fr 1fr;
  }
}
@media (max-width:751px)and (max-width:999px){
  .video-grid{
    grid-template-columns:1fr 1fr 1fr;
  }
}
@media (max-width:1000px){
  .video-grid{
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}
.video-time{
  position:relative;
  bottom:5px;
  right:5px;

}
.video-time-overview{
  position:absolute;
  bottom:8px;
  right:8px;
  background-color:black;
color:white;
font-size:12px;
font-weight:500;
padding-left:4px;
padding-right:4px;
padding-top:4px;
padding-bottom:4px;
font-family:roboto,arial;
border-radius:2px;
}